
# Ignore Visual Studio and build files
.vs/
bin/
obj/
*.dll
*.pdb
*.cache
*.suo
*.vsidx
*.db


# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider IDE
.idea/

# dotnet specific
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.dbmdl
*.bak
*.tmp
*.swp
*.orig

# publish directory
wwwroot/
dist/

.vs/

